body {
	
	
	

	
}
.red {color: red;
	 
	 font-size: 100px;
	 font-family: Arial;
	}
.blue {color: blue;}
#background {background-color: orange;}
a{color: red;}
p{color : white;}
.check {color: blue;}
#try {color: red;}
a.muggle{color: pink;}
.try2{width: 50px;
height: 50px;}
.title{background-color: red;
	width:50%;
	height:100px;
	position: absolute;
	top: opx;
}
.sidebar{background-color: blue;
position: absolute;
top: 0px;
left: 0px}
.container{position: relative;}
.bb{}

